.cart-header {
  text-align: center;
  margin-bottom: 10px;
}

.cart-container {
  border: 1px solid #777;
  max-width: 100rem;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 50px;

  .cart-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 16px;
    border-bottom: 1px solid #777;
  }

  .cart-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    padding-right: 20px;
    border-top: solid 1px #777;
    font-size: 16px;
    gap: 7px;

    .order-total {
      font-weight: 600;

      .order-total-value {
        color: rgb(216, 0, 0);
      }
    }
  }

  .cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 16px;
    margin-bottom: 20px;
    align-items: center;

    .cart-image {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
    }

    .cart-quantity {
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 50px;
      // padding-left: 50px;
      // padding-right: 50px;
      // gap: 50px;
      // height: 50px;

      .decrease-icon,
      .increase-icon {
        width: 18px;
        color: #444;

        &:hover {
          cursor: pointer;
          color: black;
        }

        &:active {
          transform: scale(1.3);
          transition: 100ms ease-in-out;
        }
      }
    }

    .cart-remove {
      cursor: pointer;
      padding: 6px;
      width: 35px;
      height: 35px;

      &:hover {
        // background-color: rgb(213, 213, 213);
        // border-radius: 50%;
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }

    // .cart-description {
    //   // padding-left: 100px;
    // }

    // .cart-price {
    // }

    // .cart-color {

    // }
  }
}
