$primaryColor: rgb(255, 94, 0);
$hoverColor: rgb(221, 81, 0);
$headerColor: rgb(42, 42, 42);
$borderColor: #e1e1e1;
$sideHeaderColor: rgb(223, 223, 223);
$size: 1.6rem;

.checkout-container {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  column-gap: 1rem;
  // border: 1px solid #777;
  width: 90%;
  min-height: 80vh;
  margin: 0 auto;

  // Shipping form - left side
  .checkout-shipping-container {
    // border: 1px solid #777;

    .checkout-header {
      color: white;
      font-size: 2rem;
      padding: 0.8rem;

      background-color: $headerColor;
      height: 4rem;
    }

    .checkout-form-container {
      display: flex;
      flex-direction: column;
      padding: 1.2rem;
      background-color: white;
      // border: 10px solid #eeeeee;
      border: 10px solid $borderColor;

      .checkout-submit-btn {
        background-color: $primaryColor;
        border: 1px solid $primaryColor;
        color: white;
        font-weight: bold;
        padding: 0.8rem 1.2rem;
        font-size: 1.2rem;
        width: 170px;
        text-align: center;

        &:hover {
          cursor: pointer;
          background-color: $hoverColor;
        }
      }

      .form-item-container {
        display: flex;
        font-size: $size;

        .form-label {
          width: 16rem;
          align-self: center;
          font-weight: bold;

          .highlight {
            color: $primaryColor;
            font-size: $size;
            font-weight: bold;
          }
        }

        .select-box {
          width: 15rem;
          padding: 0.4rem;
          border: 1px solid rgb(220, 220, 220);
          border-radius: 4px;

          color: #666;
        }

        input {
          width: 15rem;
          padding: 0.4rem;
          border: 1px solid rgb(220, 220, 220);
          border-radius: 4px;
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;

        .highlight {
          color: $primaryColor;
          font-size: $size;
          font-weight: bold;
        }

        .required-text {
          font-size: 1.2rem;
        }
      }

      .form-radio-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .form-radio-header {
          font-size: $size;
          margin-bottom: 1.5rem;
        }

        .form-radio-item {
          display: flex;
          gap: 0.5rem;
          margin-bottom: 7px;

          .shipping-type {
            font-weight: 700;
            font-size: 1.2rem;
          }

          .shipping-price {
            color: $primaryColor;
            font-size: 1.2rem;
            font-weight: 800;
          }
        }
      }
    }
  }

  /**************************************************************/
  // Additional Content - right side - Summary, In Your Cart, Shipping & Delivery
  .checkout-side-container {
    border: 1px solid #777;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .checkout-summary-container {
      border: 1px solid #777;
      width: 100%;
      height: 200px;

      .checkout-summary-header {
        color: #333;
        font-weight: 700;
        font-size: 2rem;
        padding: 0.8rem;

        background-color: $sideHeaderColor;
        height: 4rem;
      }

      .checkout-summary-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-weight: 700;
        font-size: $size;

        .highlight {
          color: $primaryColor;
          font-size: $size;
          font-weight: bold;
        }
      }
    }

    .checkout-cart-container {
      border: 1px solid #777;
      width: 100%;
      height: 200px;
    }

    .checkout-delivery-container {
      border: 1px solid #777;
      width: 100%;
      height: 200px;
    }
  }
}
