$headerColor: rgb(42, 42, 42);
$borderColor: #e1e1e1;
// $primaryColor: #7c00f9;
// $hoverColor: #7200e4;
$size: 1.6rem;
$fontColor: #333;
$paymentBorderColor: rgb(184, 184, 184);
// Switch to this color on Dark Mode
// $primaryColor: #1de5fd;
// For better contrast on Light mode
$primaryColor: #13737d;
// $primaryLightColor: #13737d;

$hoverColor: #1bd1e5;
$activeColor: #1ccbde;

.stripe-payment-container {
  min-width: 25rem;
  font-size: 1.6rem;

  .stripe-header {
    color: white;
    font-size: 2rem;
    padding: 0.8rem;

    background-color: $headerColor;
    height: 4rem;
  }

  .billing-textfields {
    display: flex;

    .billing-flex-item {
      width: 100%;
      height: 5rem;
    }

    input.billing-flex-item {
      font-size: 20px;
    }

    .billing-flex-item:last-child {
      width: 80%;
    }
  }

  .strip-button-container {
    display: flex;
    justify-content: flex-end;
  }
}
