.sign-in-form-container {
  font-size: 16px;
  // border: 1px solid rgb(203, 203, 203);
  max-width: 380px;
  max-height: 323px;
  padding: 10px;

  .sign-in-form-header {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .sign-in-form-subheader {
    font-size: 16px;
    color: #777;
  }

  .sign-in-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 25px;

    input {
      font-size: 16px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: 1px solid black;

      //removes border outline when user inputs text
      &:focus {
        outline: none;
      }
    }

    .sign-in-form-btn {
      background-color: black;
      color: white;
      border: 1px solid black;
      font-weight: bold;
      padding: 0.8rem 1.2rem;
      font-size: 1.2rem;
      width: 100%;
      text-align: center;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }

    .sign-in-form-btn-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;

      .sign-in-form-google-btn {
        display: block;
        padding: 0.8rem 1.2rem;
        background-color: #1a73e8;
        border: 1px solid transparent;
        color: white;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          background-color: #1769d4;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .sign-in-form-container {
    min-width: 380px;
  }
}

@media screen and (max-width: 800px) {
  .sign-in-form-container {
    // min-width: 400px;
    min-width: 75vw;
  }
}

@media screen and (max-width: 576px) {
  .sign-in-form-container {
    min-width: 90vw;
    max-height: 400px;
  }
}
