.cart-button {
  width: 100%;
  padding: 10px 5px;

  background: none;
  border: 1px solid black;
  font-weight: 700;
  // background-color: black;

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 100ms ease-in;
  }
}
