$primaryColor: #7c00f9;
$hoverColor: #7200e4;
$activeColor: #6900d2;

// $primaryColor: #000000;
// $hoverColor: #FFFFFF;
// $activeColor: rgb(215, 215, 215);

.cart-button {
  width: 100%;
  max-width: 16rem;
  padding: 12px 24px;

  background-color: $primaryColor;
  color: #ffffff;
  border: 1px solid $primaryColor;
  font-weight: 900;
  font-size: 1.2rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;

  &:hover {
    cursor: pointer;
    background-color: $hoverColor;
    color: #ffffff;
    transition: 100ms ease-in;
  }

  &:active {
    background-color: $activeColor;
    // background-color: rgb(215, 215, 215);
  }
}

@media screen and (max-width: 768px) {
  .cart-button-container {
    display: flex;
    justify-content: center;
    max-width: 20rem;

    .cart-button {
      max-width: 13rem;
    }
  }
}
