.product-item-container {
  min-width: 30%;
  border: 1px solid grey;
  // background-color: #edece9;
  // padding: 10px;

  .product-image {
    height: 200px;
    // max-width: 230px;
    background-size: cover;
    background-position: center;
  }

  .product-item-description {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .product-item-price {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .product-text-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
  }

  .quantity-color-container {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 8px;

    .quantity-container {
      display: inline-flex;
      border: 1px solid #888;
      padding: 4px;
      padding-left: 5px;
      padding-right: 5px;
      gap: 7px;
      background-color: #f5f4f2;
      // margin-left: 5px;
      // margin-bottom: 5px;
      // justify-content: space-between;

      &:hover {
        border: 1px solid black;
      }

      .decrement-button,
      .increment-button {
        width: 24px;
        height: 24px;
        padding: 2px;
        align-items: center;
        justify-content: center;
        color: #555;

        &:hover {
          color: black;
          cursor: pointer;
        }
      }

      .quantity-value {
        font-size: 16px;
        align-self: center;
      }
    }
  }
}
