.product-item-container {
  min-width: 30%;

  .product-image {
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .info-container {
    background-color: #eaeaea;

    .product-text-container {
      display: flex;
      justify-content: space-between;
      padding: 5px 5px;

      .product-item-description {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .product-item-price {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }

  .quantity-color-container {
    // display: flex;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    gap: 20px;

    padding: 6px 10px 8px;

    .quantity-container {
      display: inline-flex;
      background-color: #f5f4f2;

      .decrement-button,
      .increment-button {
        // width: 24px;
        // width: 30%;
        width: 28%;
        height: 24px;
        padding: 2px;
        align-items: center;
        justify-content: center;
        color: #555;
        height: 100%;
        border: 2px solid #888;

        &:hover {
          cursor: pointer;
          color: black;

          transform: scale(1.1);
        }

        &:active {
          transform: scale(1);
          border: 2px solid black;
          color: black;
        }
      }

      .quantity-value {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-top: 2px solid #888;
        border-bottom: 2px solid #888;
        // height: 34px;
        height: 100%;
        // width: 34px;
        // width: 40%;
        width: 44%;
      }
    }
  }
}
