.sign-up-form-container {
  font-size: 16px;
  // border: 1px solid rgb(203, 203, 203);
  max-width: 380px;
  padding: 10px;

  .sign-up-form-header {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .sign-up-form-subheader {
    font-size: 16px;
    color: #777;
  }

  .sign-up-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    input {
      font-size: 16px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: 1px solid black;

      //removes border outline when user inputs text
      &:focus {
        outline: none;
      }
    }

    .sign-up-form-btn {
      background-color: black;
      color: white;
      border: 1px solid black;
      padding: 0.8rem 1.2rem;
      font-size: 1.2rem;
      width: 100%;
      text-align: center;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sign-up-form-container {
    min-width: 380px;
  }
}

@media screen and (max-width: 800px) {
  .sign-up-form-container {
    // min-width: 400px;
    min-width: 75vw;
  }
}

@media screen and (max-width: 576px) {
  .sign-up-form-container {
    min-width: 90vw;
  }
}
