.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.6rem;
  padding: 10px 25px;
}

.nav-items {
  display: flex;
  column-gap: 2rem;
}
