.authentication-header {
  font-size: 24px;
  text-align: center;
}

.authentication-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  margin: 50px auto;
  gap: 20px;
}

// Adding padding to align signin component with navigation as navigation is currently FIXED because of our desktop product component requiring navigation to be fixed
@media screen and (max-width: 1992px) {
  .authentication-header {
    padding-top: 7rem;
  }
}

@media screen and (max-width: 800px) {
  .authentication-container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 50px;
    width: 95vw;
    max-height: 100rem;
  }
}

// Removes padding to realign signin component with navigation
@media screen and (max-width: 768px) {
  .authentication-header {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 400px) {
  .authentication-container {
    padding-right: 0px;
    padding-left: 0px;
  }
}
