.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size: 62.5%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2.4rem;
}

.nav-items {
  display: flex;
  column-gap: 2rem;
}
