.select-container {
  // width: 80%;
  min-width: 90px;
  height: 34px;
  padding-left: 6px;
  // text-align: center;
  // margin-left: 10px;
  // align-self: center;
  // vertical-align: top;

  background-color: #f5f4f2;
}
